body {
    font-family: 'Roboto', sans-serif;
}

.cupponVerde {
    background-color: #28a745;
}

.navbar .nav-link {
    font-weight: 300;
}

.card-title {
    font-weight: 500;
}
.fcuppon{
    font-weight: 700;
    font-size: 1.5rem;
    color: black;
    margin-bottom: 0;
}